*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    width: 1980;
    height: 1080;
}

.sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
    width: 100%;

}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}

ul li:hover a{
    padding-left: 50px;
}

.sidebar ul a i {
    margin-right: 16px;
}


.barra {
    background-color: #063146;
    position: fixed;
    top: 0;
    right: 0;
    height: 70px;
    width: 100%;
  }

.box1 {
    margin-left: 270px;
    display: grid;
    padding-top: 90px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: 24rem; /* 384px */
    height: 150px;
}

/** grid xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-2 xl:max-w-6xl max-w-4xl **/

.a {
    display: flex;
    background: #D3D3D3;
    border-radius: 8px;
    padding: 4px;
    margin: 2px;
    border-top: 150px;
}

.b {
    width: 130px;
    background: #A9A9A9;
    border-radius: 8px;
}

.c {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

h4{
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-style: bold;
}

p {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
}

.f {
    padding: 2px;
    line-height: 1;
    border-radius: 0.25rem; /* 4px */
    width: 200px;
    margin-top: 70px;
    background: #A9A9A9;
    font-size: 0.75rem; /* 12px */
    line-height: 1rem; /* 16px */
    text-align: center;
}


.box2 {
    margin-left: 450px;
    display: grid;
    margin-top: -145px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: 24rem; /* 384px */
    height: 150px;
}

.box3 {
    padding-left: 270px;
    display: grid;
    padding-top: 90px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    max-width: 24rem; /* 384px */
    height: 150px;
    width: 150px;
}

.g {
    display: flex;
    background: #D3D3D3;
    border-radius: 8px;
    padding: 50px;
    margin: 2px;
    border-top: 150px;
    justify-content: center;
}

h3 {
    font-size: 45px;
}


.lado {
    display: inline-block;
}